[common]
sensorid = ironmonkey-conpot-s7-315

[virtual_file_system]
data_fs_url = default
fs_url = default

[session]
timeout = 30

[daemon]
;user = conpot
;group = conpot

[json]
enabled = True
filename = /var/log/conpot/conpot.json

[sqlite]
enabled = False

[syslog]
enabled = False

[hpfriends]
enabled = False

[taxii]
enabled = False

[fetch_public_ip]
enabled = False
